# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Neokyx
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Infisical paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ infisical_uid }}"
    group: "{{ infisical_gid }}"
  with_items:
    - "{{ infisical_base_path }}"
    - "{{ infisical_path }}"

- name: Ensure Infisical support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: "0640"
    owner: "{{ infisical_uid }}"
    group: "{{ infisical_gid }}"
  with_items:
    - src: /env.j2
      dst: "{{ infisical_path }}/env"
    - src: /labels.j2
      dst: "{{ infisical_path }}/labels"

- name: Ensure Infisical systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates//systemd/infisical.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ infisical_identifier }}.service"
    mode: "0644"

- name: Ensure Infisical container image is pulled via ansible.builtin.command
  when: devture_systemd_docker_base_container_image_pull_method == 'command'
  ansible.builtin.command:
    cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ infisical_container_image }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed
  changed_when: "'Downloaded newer image' in result.stdout"

- name: Ensure Infisical container networks are created via community.docker.docker_network
  community.docker.docker_network:
    name: "{{ item }}"
    driver: bridge
  with_items:
    - "{{ infisical_container_network }}"
