# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Infisical  systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ infisical_identifier }}-.service"
  register: infisical__service_stat

- name: Uninstall Infisical  systemd services and files
  when: infisical__service_stat.stat.exists | bool
  block:
    - name: Ensure Infisical  systemd service is stopped
      ansible.builtin.service:
        name: "{{ infisical_identifier }}-"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Infisical  container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ infisical__container_network }}"
        state: absent

    - name: Ensure Infisical  container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ infisical__container_network }}
      register: network_deletion_result
      changed_when: infisical__container_network in network_deletion_result.stdout

    - name: Ensure Infisical  systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ infisical_identifier }}-.service"
        state: absent

- name: Check existence of Infisical frontend systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ infisical_identifier }}-frontend.service"
  register: infisical_frontend_service_stat

- name: Uninstall Infisical frontend systemd services and files
  when: infisical_frontend_service_stat.stat.exists | bool
  block:
    - name: Ensure Infisical frontend systemd service is stopped
      ansible.builtin.service:
        name: "{{ infisical_identifier }}-frontend"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Infisical frontend systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ infisical_identifier }}-frontend.service"
        state: absent

    - name: Ensure Infisical frontend container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ infisical_frontend_container_network }}"
        state: absent

    - name: Ensure Infisical frontend container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ infisical_frontend_container_network }}
      register: network_deletion_result
      changed_when: infisical_frontend_container_network in network_deletion_result.stdout

    - name: Ensure Infisical path does not exist
      ansible.builtin.file:
        path: "{{ infisical_base_path }}"
        state: absent
