# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "infisical_http_header_content_permission_policy", "new": "infisical_http_header_permissions_policy" }

- name: Fail if required Infisical settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - infisical_identifier
    - infisical_uid
    - infisical_gid
    - infisical_hostname
    - infisical_path_prefix
    - infisical_container_network
    - infisical_environment_variable_encryption_key
    - infisical_environment_variable_jwt_signup_secret
    - infisical_environment_variable_jwt_refresh_secret
    - infisical_environment_variable_jwt_auth_secret
    - infisical_environment_variable_jwt_service_secret
    - infisical_mongodb_username
    - infisical_mongodb_password
    - infisical_mongodb_hostname

- name: Fail if infisical_path_prefix is not /
  ansible.builtin.fail:
    msg: >-
      infisical_path_prefix (`{{ infisical_path_prefix }}`) must be `/` right now. Hosting under a path prefix is not currently supported.
  when: "infisical_path_prefix != '/'"

- name: Run if Traefik is enabled
  when: infisical_container_labels_traefik_enabled | bool
  block:
    - name: Fail if Traefik settings required for Infisical are not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - infisical_container_labels_traefik_hostname
        - infisical_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `infisical_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if infisical_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          infisical_container_labels_traefik_path_prefix (`{{ infisical_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/infisical`).
      when: "infisical_container_labels_traefik_path_prefix != '/' and infisical_container_labels_traefik_path_prefix[-1] == '/'"
