---

- name: Fail if required Infisical settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item }}`).
  when: "vars[item] == ''"
  with_items:
    - infisical_identifier
    - infisical_uid
    - infisical_gid
    - infisical_hostname
    - infisical_path_prefix
    - infisical_container_network
    - infisical_backend_environment_variable_encryption_key
    - infisical_backend_environment_variable_jwt_signup_secret
    - infisical_backend_environment_variable_jwt_refresh_secret
    - infisical_backend_environment_variable_jwt_auth_secret
    - infisical_backend_environment_variable_jwt_service_secret
    - infisical_mongodb_username
    - infisical_mongodb_password
    - infisical_mongodb_hostname

- name: Fail if infisical_path_prefix is not /
  ansible.builtin.fail:
    msg: >-
      infisical_path_prefix (`{{ infisical_path_prefix }}`) must be `/` right now. Hosting under a path prefix is not currently supported.
  when: "infisical_path_prefix != '/'"

- when: infisical_backend_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required Infisical Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "vars[item] == ''"
      with_items:
        - infisical_backend_container_labels_traefik_hostname
        - infisical_backend_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `infisical_backend_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if infisical_backend_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          infisical_backend_container_labels_traefik_path_prefix (`{{ infisical_backend_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/infisical`).
      when: "infisical_backend_container_labels_traefik_path_prefix != '/' and infisical_backend_container_labels_traefik_path_prefix[-1] == '/'"
